.HomePage {
  h3 {
    margin: 35px 24px;
  }

  .HomePage__Container {
    padding: 1px;

    &:hover {
      padding: 0;
      border: 1px solid #1890ff;
      border-radius: 1px;
    }

    .HomePage__Card {
      height: 150px;
    }
  }
}
