.LineReportPage {
  h4 {
    margin: 35px 16px 10px !important;
  }

  .ant-space,
  .anddark-space {
    width: 100%;
  }

  .ant-typography,
  .antdark-typography {
    margin: 0 16px;
  }

  .ant-statistic-content,
  .antdark-statistic-content {
    text-align: right;
  }
}
