.AppLayout {
  position: relative;
  min-height: 100vh !important;

  .ant-affix,
  .antdark-affix {
    transition: all 0.35s ease-in-out;
  }

  .AppLayout__Header--hide {
    .ant-affix,
    .antdark-affix {
      top: -45px !important;
    }
  }

  .AppLayout__Header {
    color: white;
    padding: 0 17px;
    display: flex;
    height: 45px;

    .ant-breadcrumb,
    .antdark-breadcrumb {
      margin-top: 2px;
    }

    .AppLayout__Link a,
    .ant-breadcrumb-separator,
    .antdark-breadcrumb-separator {
      color: rgba(255, 255, 255, 0.8) !important;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .AppLayout__Link a:hover,
    .AppLayout__Link--current {
      color: white !important;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .AppLayout__Fill {
      flex: 1;
    }

    .MyAvatar {
      cursor: pointer;
    }
  }

  .AppLayout__Content {
    flex: 1;
    width: 100%;
    max-width: 1199px;
    margin: 0 auto;
  }

  .AppLayout__Content--full {
    flex: 1;
  }

  .AppLayout__PopoverMenu {
    .ant-menu,
    .antdark-menu {
      border: none;

      .ant-menu-item,
      .antdark-menu-item {
        padding: 0;

        &:hover,
        &:focus,
        &:active {
          background: none;
        }
      }
    }
  }
}
